
 <!-- Button trigger modal -->
  <button type="button" class="btn btn-create-show" data-bs-toggle="modal" data-bs-target="#participantsModal">
    Add Participants
  </button>

  <!-- Modal -->
  <div class="modal fade"  data-controller="participations" id="participantsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="participantsModalLabel">Which participants?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

          <!-- Form for participants -->
          <div class="modal-body" data-participations-target="input" >

            <%= simple_form_for [@reunion, @participation] do |f|%>
            <%= f.association :user,
                              collection: User.all.where.not(id: current_user.id),
                              input_html: { multiple: true, data: { controller: "tom-select" }},
                              prompt: "Find your friends",
                              label: false,
                              include_blank: false,
                              include_hidden: false %>
            <%= f.submit "Add", class: "btn-add" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>




<!-- Display participants -->

    <ul>
      <% @reunion.participations.each do |participation| %>
        <li><%= participation.user.name %></li>
      <% end %>~
    </ul>
  </div>
