<div class="Addparticipant">
  <div class="center">
    <h1>Add participants for your reunion!</h1>
  </div>
  <div class="container">
    <%= simple_form_for [@reunion, @participation] do |f|%>
      <%= f.association :user,
                        collection: User.all.where.not(id: current_user.id),
                        input_html: { multiple: true },
                        include_blank: false,
                        include_hidden: false %>
      <%= f.submit :add %>
    <% end %>
  </div>
</div>
<%= link_to "Go back", :back %>
