
<div class="reunion-sum-banner">
   <h1>Reunion Summary</h1>
   <p><strong></strong></p>
      <p></p>
      <p class="btn-create">
        <%= link_to "Join" %>
</div>

<div class="title-destination">
<h3>Destinations</h3>
</div>

<div class="destination-info">
      <div class="destination-option1">
        <h4>Option 1</h4>
        <p>Lisbon</p>
      </div>
      <div class="destination-option2">
        <h4>Option 2</h4>
        <p>Norway</p>
      </div>
      <div class="destination-option3">
        <h4>Option 3</h4>
        <p>Paris</p>
      </div>


      <div class="destination">
      <h5>Reunion Crew</h5>
        <p>Pierre</p>
        <p>Maria</p>
        <p>Joana</p>
        <p>Ajush</p>
      </div>
    </div>
  </div>
</div>


      <%# <p class="btn-random-destination"> %>
        <%# <%= "Find destination", class: "btn"%>
  </div>
</div>
