<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://adventurefolio.com/wp-content/uploads/2022/11/Travel-gift-ideas-min.jpg);">
  <div class="container">
   <h1>Reunion Summary</h1>
   <p><strong></strong></p>
      <p></p>
      <p class="button">
        <%= link_to "Join", class: "btn"%>
  </div>
</div>
