// Specific CSS for your home-page
.home-page-text {
  justify-content: center;
  font-weight: 300;
  background-size: cover;
  background-position: center;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  font-size: 50px;
  color: $logogreen;
  font-size: large;
}
