<ul>
<% @date_options.each do |date_option| %>
  <li class="container my-3">
    <%= date_option.start_date.strftime(("%b. %d. %Y")) %>
    <%= date_option.end_date.strftime(("%b. %d. %Y")) %>
    <%= link_to "Vote", upvote_date_option_path(date_option), data: { turbo_method: :post } %>
  </li>
<% end %>
</ul>
