<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Invite Sent!</strong> 🎉 Votes on dates are open!</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>


<div style="padding: 30px;">
  <h1> Participation Table, Votes are open!</h1>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <ul>
        <% @date_options.each do |date_option| %>
          <li class="container my-3">
            <%= date_option.start_date.strftime(("%b. %d. %Y")) %>
            <%= date_option.end_date.strftime(("%b. %d. %Y")) %>
            <%= link_to "Vote", upvote_date_option_path(date_option), data: { turbo_method: :post } %>
          </li>
        <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>
