<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3 style="text-align:center;">Select Date Options</h3>
        <%= simple_form_for [@reunion, @date_option], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>
          <%= f.submit 'Add date option' %>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
