<div class="banner">
  <h1 class="reunion-home">REUNION</h1>
  <p class="reunion-home"> Plan your travel and meet up in the city of your choice</p>
</div>
  <div class="slider-container">
  <div class="slider">
    <div class="slides">
      <div id="slides__1" class="slide slide-img1">
        <span class="slide__text"></span>
        <a class="slide__prev" href="#slides__4" title="Next"></a>
        <a class="slide__next" href="#slides__2" title="Next"></a>
      </div>
      <div id="slides__2" class="slide slide-img2">
        <span class="slide__text"></span>
        <a class="slide__prev" href="#slides__1" title="Prev"></a>
        <a class="slide__next" href="#slides__3" title="Next"></a>
      </div>
      <div id="slides__3" class="slide slide-img3">
        <span class="slide__text"></span>
        <a class="slide__prev" href="#slides__2" title="Prev"></a>
        <a class="slide__next" href="#slides__4" title="Next"></a>
      </div>
      <div id="slides__4" class="slide slide-img4">
        <span class="slide__text"></span>
        <a class="slide__prev" href="#slides__3" title="Prev"></a>
        <a class="slide__next" href="#slides__5" title="Prev"></a>
      </div>
      <div id="slides__5" class="slide slide-img5">
        <span class="slide__text"></span>
        <a class="slide__prev" href="#slides__4" title="Prev"></a>
        <a class="slide__next" href="#slides__1" title="Prev"></a>
      </div>
    </div>
    <div class="slider__nav">
      <a class="slider__navlink" href="#slides__1"></a>
      <a class="slider__navlink" href="#slides__2"></a>
      <a class="slider__navlink" href="#slides__3"></a>
      <a class="slider__navlink" href="#slides__4"></a>
      <a class="slider__navlink" href="#slides__5"></a>
    </div>
  </div>
</div>


<div class="cards">
  <div class="card-category" >
    <h2 class="card-h1"> 1. CREATE your reunion
    </h2>
    <p class="card-p">Include information about the trip you want to have with your friends.
    </p>
  </div>

  <div class="card-category">
    <h2 class="card-h1">
    2. WHEN? Share your availabilities!
    </h2>
    <p class="card-p">
    Your group will vote for the best possible date!
    </p>
  </div>
</div>

<div class="cards">
  <div class="card-category">
    <h2 class="card-h1">3. WHO? Tell us who is joining!
    </h2>
    <p class="card-p">Include your friends' information. An email will be sent and they will receive invitation!
    </p>
  </div>

  <div class="card-category">
    <h2 class="card-h1">
    4. WHERE? We will suggest you where to go! ✈
    </h2>
    <p class="card-p">
    Our AI will suggests the best destination! ✈
    </p>
  </div>
</div>

<div class="btn-create-container">
  <%= link_to "Create a Reunion", new_reunion_path, class: "btn-notify-primary" %>
</div>
<br>
