<div class="banner-show-reunion">
</div>

<div class="banner-create">
  <div>
    <h1>Create your reunion</h1>
    <p>Name your reunion and add description to it</p>
  </div>
  <div class="create-form">
    <%= simple_form_for @reunion do |f|%>
      <%= f.input :name, placeholder: "Give your reunion a name" %>
      <%= f.input :description, placeholder: "Tell us what you plan is" %>
      <div style="display:flex; justify-content: space-between;">
        <%= f.submit :create, class: "btn-1" %>
      </div>
    <% end %>
  </div>
</div>
</div>
