// general button secondary 1

.btn-1 {
  display: block;
  width: 500px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  border: none;
  color: #bdbdbd;
  font-size: 20px;
  line-height: 0px;
  position: relative;
  overflow: hidden;
  background: $darkgreen;
  margin: 20px auto;
  margin-bottom: 1px;
  transition: all 0.5s;
  opacity: 0.8;
}

.btn-1:before,
.btn-1:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: $darkgreen;
  z-index: -1;
  transition: all 0.35s;
  background: solid $darkgreen;
}

.btn-1:after {
  transition-delay: 0.2s;
  background: solid $darkgreen;
}

.btn-1:hover {
  color: #bdbdbd;
  letter-spacing: 2px;
  background: #057b56;
}

.btn-1a:hover:before,
.btn-1:hover:after {
  transition: width 350ms ease-in-out;
}

// principal button for homepage
.btn-2 {
  text-align: center;
  font-size: 24px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px 24px;
  text-decoration: none;
  height: 54px;
  width: 360px;
  letter-spacing: 0;
  transition: 0.2s all ease-in;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
background-color: $darkgreen;
border: 1px solid $darkgreen;
color: $lightgreen;
padding: 8px 24px;
// border-radius: 50px;
text-decoration: none;
height: 54px;
width: 360px;
font-size: 24px;
letter-spacing: 3px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: $lightgreen;
transition: width 350ms ease-in-out;
width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

// general button secondary 3
.btn-3 {
  color: #bdbdbd;
  background-color: #072e21;
  opacity: 0.7;
  padding: 8px 24px;
  text-decoration: none;
  border: none;
  opacity: 0.7;
  border-radius: 20px;
  width: 100%;
}

.btn-3:hover {
  padding: 8px 24px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: width 50ms ease-in-out;
  color: #bdbdbd;
  letter-spacing: 2px;
  background: #057b56;
}

// principal button for invitation

.btn-4 {
  letter-spacing: 3px;
  font-weight: 550;
  font-size: 18px;
  text-align: center;
  color: $darkgreen;
  cursor: pointer;
  width: 40%;
  outline: 4px solid;
  outline-color: $darkgreen;
  outline-offset: 20px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 100px;
}

.btn-4:hover {
  color: #057b56;
  outline-color: #057b56;
  outline-offset: 35px;
  text-decoration: none;
}

// delete buttons pending confirmation
// .btn-back {
//   color: $grayreunion;
//   border: 1px solid $grayreunion;
//   padding: 8px 24px;
//   border-radius: 50px;
//   // opacity: 0.3;
//   // transition: opacity 0.3s ease;
//   text-decoration: none;
// }

// .btn-back:hover {
//   color: $grayreunion;
//   border: 1px solid $grayreunion;
//   padding: 8px 24px;
//   border-radius: 50px;
//   text-decoration: none;
//   opacity: 50%;
// }

// .btn-create {
//   color: $grayreunion;
//   border: 1px solid #a89999;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: bold;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
//   text-decoration: none;
// }

// .btn-create-container {
//   justify-content: center;
//   display: flex;
// }

// .btn-create:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: $grayreunion;
// }

// .btn-4 {
//   cursor: pointer;
//   background: transparent;
//   border: 2px solid #072e21;
//   outline: none;
//   transition: 1s ease-in-out;
//   left: 0;
//   top: 0;
//   fill: none;
//   stroke: #fff;
//   transition: 1s ease-in-out;
//   text-decoration: none;
//   border-radius: 0px;
//   padding: 8px 24px;
//   width: 100%;
//   color: #072e21;
//   margin-top: 150px;
//   margin-bottom: 150px;
// }

// .btn-4:hover {
//   transition: 1s ease-in-out;
//   background: #057b56;
//   stroke-dashoffset: -480;
//   color: #bdbdbd;
//   font-size: 25px;
//   font-weight: 100;
// }

// .btn-4 {
//   color: $darkgreen;
//   padding: 8px 24px;
//   text-decoration: none;
//   height: 20px;
//   width: 100px;
//   font-size: 40x;
//   letter-spacing: 5px;
//   letter-spacing: 0;
//   font-weight: bold;
//   border: $darkgreen;
// }

// .btn-4:hover,
// .btn-4:active {
//   letter-spacing: 5px;
//   color: $darkgreen;
//   padding: 8px 24px;
//   border-radius: 50px;
//   text-decoration: none;
//   height: 20px;
//   width: 100px;
//   font-size: 40x;
//   letter-spacing: 5px;
// }

// .btn-4:after,
// .btn-4:before {
//   backface-visibility: hidden;
//   border: 1px solid rgba(#fff, 0);
//   bottom: 0px;
//   content: " ";
//   display: block;
//   margin: 0 auto;
//   position: relative;
//   transition: all 280ms ease-in-out;
//   width: 0;
// }

// .btn-4:hover:after,
// .btn-4:hover:before {
//   backface-visibility: hidden;
//   border-color: $darkgreen;
//   transition: width 350ms ease-in-out;
//   width: 70%;
// }

// .btn-4:hover:before {
//   bottom: auto;
//   top: 0;
//   width: 70%;
// }

// .btn-1 {
//   color: #bdbdbd;
//   background-color: #072e21;
//   transition: 0.3s;
//   position: relative;
// padding: 8px 24px;
// border-radius: 50px;
// text-decoration: none;
// border: none;
// letter-spacing: 0;
// transition: 0.2s all ease-in;
// text-align: center;
// border: 1px solid white;
// height: 54px;
// width: 360px;

// .btn-1:hover,
// .btn-1:active {
//   letter-spacing: 5px;
//   color: #bdbdbd;
//   background-color: #072e21;
//   border: 1px solid $darkgreen;
//   padding: 8px 24px;
//   opacity: 0.5;
//   border-radius: 50px;
//   text-decoration: none;
//   transform: scale(1.1, 1.1);
//   -webkit-transform: scale(1.1, 1.1);
//   -moz-transform: scale(1.1, 1.1);
//   transition-delay: 0.1s;
//   // opacity: 0.1;
//   border: none;
//   letter-spacing: 3px;

// .btn-1:after,
// .btn-1:before {
//   backface-visibility: hidden;
//   border: 1px solid $darkgreen;
//   bottom: 0px;
//   content: " ";
//   display: block;
//   margin: 0 auto;
//   position: relative;
//   transition: all 280ms ease-in-out;
//   width: 0;

// .btn-1:hover:after,
// .btn-1:hover:before {
//   opacity: 0;
//   transform: scale(0.1, 1);
// }
//   backface-visibility: hidden;
//   border-color: $darkgreen;
//   transition: width 350ms ease-in-out;
//   width: 70%;

// .btn-1:hover:before {
//   bottom: auto;
//   top: 0;
//   width: 70%;
// }
