.btn-create {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-create:hover {
  opacity: 1;
}

.btn-add {
  color: $bluereunion;
}

.btn-back {
  color: $grayreunion;
  border: 1px solid $grayreunion;
  padding: 4px 12px;
  border-radius: 50px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-back:hover {
  color: $grayreunion;
  border: 1px solid $grayreunion;
  padding: 4px 12px;
  border-radius: 50px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
