.card-category {
  // text-align: center;
  // text-decoration: none;
  // padding-left: 16px;
  // padding-right: 16px;
  // margin-top: 100px;
  // margin-bottom: 100px;
  // margin-right: 100px;
  // margin-left: 100px;
  // display: flex;
  background-size: cover;
  background-color: #a0e2cd;
  opacity: 0.3;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 20px;
}

.card-h1 {
  font-size: 30px;
  color: white;
  font-weight: 20;
}

.card-p {
  font-size: 20px;
  color: grey;
  font-weight: 10;
}
