.cards {
  display: flex;
}

.card-category {
  background-color: #a0e2cd;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-size: 100% 100%;
}

.card-h1 {
  font-size: 30px;
  color: white;
  font-weight: 20;
}

.card-p {
  font-size: 20px;
  color: grey;
  font-weight: 10;
}

.card-new-participant {
  // padding: 12px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  color: $bluereunion;
  background-position: center;
  margin-right: 200px;
  margin-left: 200px;
  max-height: 100%;
}

.card-new-participant h3 {
  color: $greenlogo;
}

.associationStyling {
  color: $grayreunion;
}

.card-reunion-show {
  padding: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // align-items: center;
  color: $bluereunion;
  background-position: center;
  width: 400px;
  // align-items: center;
  // justify-content: center;
  // margin-right: 200px;
  // margin-left: 200px;
  // max-height: 100%;
}

.cards-show-reunion {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}
