.cards {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

.cards-options {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
}

.card-category {
  background-color: $bluereunion;
  display: flexbox;
  justify-content: center;
  align-items: center;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  // background-size: 100% 100%;
  padding: 24px;
  // width: 400px;
  height: 180px;
  border: 1px solid #030050;
  text-align: center;
  width: 50%;
}

.card-h1 {
  color: $greenlogo;
  font-size: 24px;
}

.card-p {
  font-size: 20px;
  color: $grayreunion;
  font-size: 20px;
  // font-weight: 500;
}

.card-new-participant {
  // padding: 12px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  color: $bluereunion;
  background-position: center;
  margin-right: 200px;
  margin-left: 200px;
  max-height: 100%;
}

.card-new-participant h3 {
  color: $greenlogo;
}

.associationStyling {
  color: $grayreunion;
}

.card-reunion-show {
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  color: $bluereunion;
  background-position: center;
  width: 400px;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-height: 100%;
}

.cards-show-reunion {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

.table {
  border-collapse: collapse;
  font-size: 0.9em;
  // min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  width: 50%;
}

.table thead tr {
  background-color: $greenlogo;
  color: $bluereunion;
  text-align: left;
  border: thin solid $bluereunion;
}

.table tbody tr {
  color: $bluereunion;
}

.table tbody tr {
  border: thin solid $bluereunion;
  text-align: left;
}

// suggested destinations

.image-destination {
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
object-position: center;
object-fit: cover;
height: 250px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 0px;
padding: 0px;
}
