.destination-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  flex-wrap: wrap;
  text-align: center;
}
.destination-option {
  border: 1px solid rgb(230, 230, 230);
  width: 600px;
  height: 500px;
  border-radius: 5%;
}
.destination-option1 {
  background-image: url("slide9.jpg");
  border-radius: 5%;
  width: 300px;
  height: 300px;
  background-size: 100% 100%;
}

.destination-option2 {
  background-image: url("slide6.jpg");
  border-radius: 5%;
  width: 300px;
  height: 300px;
  background-size: 100% 100%;
}

.destination-option3 {
  background-image: url("slide8.jpg");
  border-radius: 5%;
  width: 300px;
  height: 300px;
  background-size: 100% 100%;
}

.destination {
  border-color: gray;
  border-radius: 10%;
  box-shadow: 10%;
}
