.footer {
  background: #6c757d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ced4da;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #495057;
  opacity: 1;
}
