.navbar-reunion {
  justify-content: space-between;
  background: white;
  height: 60px;
  margin-bottom: 0px;
  border: 0;
}

.navbar-content {
  flex-grow: 0;
}

.navbar-logo {
  width: 50px;
}

.navbar {
  margin-bottom: 0px;
  border: 0;

}
