.reunion-show-banner {
  background-image: url(https://images.unsplash.com/photo-1446569971295-057569541991?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2106&q=80);
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
}

// .reunion-show-banner img {
//   // max-width: 100%;
//   // height: auto;
//   // object-fit: contain;
// }
