.reunion-sum-banner {
  background-image: url(https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
}

.reunion-sum-banner h1 {
  // color: white;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // font-size: 35 px;
  // font-weight: bold;
  // justify-content: center;
  // padding-top: 100px;
  justify-content: center;
  font-weight: 300;
  background-size: cover;
  background-position: center;
  height: 50px;
  display: flex;
  align-items: top;
  font-size: 50px;
  color: #1fd79d;
  text-shadow: gray;
}
